.language-div{
    background-color:rgb(68, 68, 68);
    border-radius: 5px;
    font-family: Arial;
    padding: 2px 5px;
    width: 25%;
    flex: 1;
}
.language-div h1{
    color: white;
}

.language-div textarea{
    font-size: 1.5em;
    width: 90%;
}